{% extends 'todo_app/base.html' %} {% block title %}About Page{% endblock %} {% block content %}

<div class="mt-4 p-5 rounded text-center" style="background-color: #dbdbdb">
    <h1>TO-DO LIST</h1>
    <p>This is TO-DO list for Python Django Web Development</p>
    <p>You can use this TO-DO list for your Django projects</p>
    <p>Just follow the list</p>
    <p>If you follow this list correctly,you will not make mistakes</p>
    <p>You can update anything</p>
    <br>
    <br>

    <button type="button" class="btn btn-outline-success">Create TO-DO List</button>

</div>
{% endblock %}