{% extends 'todo_app/base.html' %} {% block title %}Home Page{% endblock %} {% block content %}

<div class="mt-4 p-5 rounded text-center" style="background-color: #dbdbdb">
    <h1>TO-DO LIST</h1>
    <p>This is TO-DO list for Python Django Web Development</p>
    <a role="button" class="btn btn-outline-success" href="{% url 'create' %}">Create New TO-DO</a>

</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">To-do Name</th>
                <th scope="col">Is Finished?</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Delete</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todo_list %} {% if todo.finished %}
            <tr>

                <td><del>{{ todo.title }}</del></td>
                <td><a class="btn btn-danger" role="button" href="{% url 'yes_finish' todo.id %}">Yes</a></td>
                <td>{{ todo.date }}</td>
                <td><a class="btn btn-danger" role="button" href="{% url 'delete' todo.id %}">Delete</a></td>
                <td><a class="btn btn-warning" role="button" href="{% url 'update' todo.id %}">Update</a></td>

            </tr>
            {% else %}
            <tr>

                <td>{{ todo.title }}</td>
                <td><a class="btn btn-warning" role="button" href="{% url 'no_finish' todo.id %}">No</a></td>
                <td>{{ todo.date }}</td>
                <td><a class="btn btn-danger" role="button" href="{% url 'delete' todo.id %}">Delete</a></td>
                <td><a class="btn btn-warning" role="button" href="{% url 'update' todo.id %}">Update</a></td>

            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}